ion-content{

  background-image: url("../assets/imgs/logo.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size: 100%;
  text-align: center;
  }

ion-title{
  color: orangered;

   text-align: center;
  font-size:large;


}
